*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(240, 236, 240);
}

main{
    width: 1200px;
    max-width: 90%;
    margin-bottom: 50px;
    margin: auto;
    background-color: white;
}

.section-title{
    color: blueviolet;
    margin-left: 20px;
}

.top-players, .blogs, .courses{
    display: grid;
    margin-left: 20px;
    grid-gap: 20px;
    margin: 25px;
    place-items: center;
    
}

.top-players, .courses{
    grid-template-columns:repeat(3, 1fr);
}

.blogs{
    grid-template-columns:repeat(2, 1fr);
}

.player, .blog, .course {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
   
}

.duration{
    color: red;
    background-color: rgba(243, 31, 31, 0.363);
    margin-left: 10px;
    padding: 5px;
    border-radius: 5px;
}

.course-info{
    display: flex;
}
.course-detail{
    margin-top: 10px;
    margin-left: 20px;
}
.thumbnail img{
    height: 150px;
    margin-right: 20px;
}

.course img{
    width: 250px;
    height: 150px;
 
}

.player img{
    height: 50px;
    margin-right: 20px;
}
.filled{
    color: goldenrod;
}
.unfilled{
    color: lightgray;
}
@media (max-width: 992px) {
    .top-players{
        grid-template-columns: repeat(2, 1fr);
    }
    .blogs{
        grid-template-columns:repeat(1, 1fr);
    }.courses{
        grid-template-columns:repeat(1, 1fr);
    }
}

@media (max-width: 668px) {
    .top-players{
        grid-template-columns: repeat(1, 1fr);
    }
    .blog{
        display: block;
    }
    .course{
        display: block;
    }
}